{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="{% url 'home' %} "><img src="{% static 'images/logo_big.png' %}" style="max-width: 200px;"></a>
        <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNav " aria-controls="navbarNav " aria-expanded="false " aria-label="Toggle navigation ">
       <span class="navbar-toggler-icon "></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link" href="{% url 'Homepage' %}">Home</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'app_tenant' %}">Application Form</a>
        </li>
         <li class="nav-item">
           <a class="nav-link" href="{% url 'qualification' %}">Qualification</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{% url 'aboutus' %}">About us</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{% url 'contact' %}">Contact</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>
